<!DOCTYPE html>
{% load tailwind_cli %}
{% load static %}
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSuite</title>
    {% tailwind_css %}
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body class="bg-base-200">
    <div class="container mx-auto px-4">
        {% block content %}{% endblock %}
    </div>
</body>

</html>